@import "./vars.scss";


/*
	Responsive break points
 */

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


/*
    Define theme font family(s)
*/

@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu');

@mixin lato($size, $weight) {
    font-family: 'Lato', sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@mixin ubuntu($size, $weight) {
    font-family: 'Ubuntu', sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@mixin font-awesome($size) {
    font-family: FontAwesome;
    font-size: $size;
}


/*
    Define fonts
*/

@mixin jumbotron() {
    @include lato($jumbo-font, $bold-font-weight)
    text-transform: uppercase;
    letter-spacing: 7.91px;
}

@mixin header() {
    @include ubuntu($extra-large-font, $normal-font-weight);
    letter-spacing: 0;
    line-height: 3.214rem;
}

@mixin sub-header() {
    @include ubuntu($medium-font, $thin-font-weight);
    text-transform: none;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

@mixin text() {
    @include lato($regular-font, $thin-font-weight);
    letter-spacing: 0.1rem;
}

@mixin small-text() {
    @include lato($small-font, $normal-font-weight);
    letter-spacing: 0.1rem;
}


/*
    Define hover behavior
*/

@mixin hoverText($color) {
    @include smoothTransition(0.25s);
    cursor: pointer;
    &:hover {
        color: $color;
        @include smoothTransition(0.25s);
    }
}


/*
    Define shadow(s)
*/

@mixin shadow() {
    box-shadow: 0 2px 2px $gray-darker;
}

@mixin softShadow($color) {
    box-shadow: 12px 15px 20px $color;
}


/*
    Define transition(s)
*/

@mixin smoothTransition($length) {
    transition: all $length cubic-bezier(0.2, 0.3, 0.25, 0.9);
}


/*
    Define default styling
*/

html {
    font-size: $base-font-size - 2;
    @include for-tablet-landscape-up {
        font-size: $base-font-size;
    }
}

a {
    text-decoration: none;

}
a.text-link {
    border-bottom: 2px solid $brand-secondary;
    @include hoverText($brand-link);
}
a.header-link {
    border-bottom: 2px solid $brand-secondary;
    @include hoverText($brand-link);
    text-transform: uppercase;
    font-weight: $bold-font-weight;
}

a, h1, h2, h3, h4, h5, h6, p, li, span, strong, button {
    color: $brand-primary;
    &.uppercase-text {
        text-transform: uppercase;
    }
    &.lowercase-text {
        text-transform: none;
    }
    &.capitalize-text {
        text-transform: capitalize;
    }
    &.muted-text {
        color: $gray-darker !important;
    }
    &.auto-line-height {
        line-height: 1.15;
    }
    &.italic-text {
        font-style: italic;
    }
    strong {
        color: $brand-link;
        font-weight: $normal-font-weight;
    }
    b {
        font-weight: $bold-font-weight !important;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    @include jumbotron();
}

h2, h3 {
    @include header();
}

h4, h5 {
    @include sub-header();
}

h6, p, li, td, button {
    margin: 0;
    @include text();
    small {
        @include small-text();
    }
}
p {
    line-height: 1.79rem;
    small {
        line-height: 2.25rem;
    }
}
.SmallTextGroup {
    a, h1, h2, h3, h4, h5, h6, p, li, span, button {
        @include small-text();
    }
    p {
        line-height: 2.25rem;
    }
}

h6 {
    line-height: 20px;
}

section {
    &.Section--smHeight {
        padding: $mobile-padding-1;
        @include for-tablet-landscape-up {
            padding: $padding-1;
        }
    }
    &.Section--mdHeight {
        padding: $mobile-padding-2 $mobile-padding-1;
        @include for-tablet-landscape-up {
            padding: $padding-2 $padding-1;
        }
    }
    &.Section--lgHeight {
        padding: $mobile-padding-3 $mobile-padding-1;
        @include for-tablet-landscape-up {
            padding: $padding-3 $padding-1;
        }
    }
    &.Section--light {
        background-color: $white;
    }
    &.Section--gray {
        background-color: $gray-light;
    }
    &.Section--dark {
        background-color: $black;
    }
}

.Button {
    outline: none;
    padding: 15px 25px;
    border-radius: $border-radius;
    cursor: pointer;
    @include smoothTransition(0.25s);
}

.Button--lifted {
    @include shadow();
}

.Button--brandPrimary {
    border: none;
    background-color: $brand-primary;
    color: $white;
    .Button_iconContainer {
        border-top: 2px solid $brand-primary;
        border-left: 2px solid $brand-primary;
        border-bottom: 2px solid $brand-primary;
    }
    .Button_icon {
        color: $brand-primary;
    }
    &:hover {
        background-color: lighten($brand-primary, 5%);
        @include smoothTransition(0.25s);
    }
}

.Button--brandSecondary {
    border: none;
    background-color: $brand-secondary;
    color: $white;
    .Button_iconContainer {
        border-top: 2px solid $brand-secondary;
        border-left: 2px solid $brand-secondary;
        border-bottom: 2px solid $brand-secondary;
    }
    .Button_icon {
        color: $brand-secondary;
    }
    &:hover {
        background-color: lighten($brand-secondary, 5%);
        @include smoothTransition(0.25s);
    }
}

.Button--ghost {
    padding: 7px 12px;
    border: 3px solid $white;
    background-color: transparent;
    color: $white;
    .Button_iconContainer {
        border-top: 2px solid $white;
        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
    }
    .Button_icon {
        color: $white;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
        @include smoothTransition(0.25s);
    }
}

.Button--ghostInvert {
    padding: 7px 12px;
    border: 3px solid $brand-primary;
    background-color: transparent;
    color: $brand-primary;
    .Button_iconContainer {
        border-top: 2px solid $brand-primary;
        border-left: 2px solid $brand-primary;
        border-bottom: 2px solid $brand-primary;
    }
    .Button_icon {
        color: $brand-primary;
    }
    &:hover {
        @include softShadow($gray);
        @include smoothTransition(0.25s);
    }
}
