@import "./../../theme.scss";

.WorkTogether {
	width: 100%;
	margin: 0 auto;
	@include for-tablet-landscape-up {
		display: flex;
		max-width: 500px;
	}
	.WorkTogether_cylinder {
		width: 30px;
		height: 35px;
		margin: 2rem auto;
		display: block;
		@include for-tablet-landscape-up {
			flex-basis: 30px;
			align-self: flex-start;
			margin: 0.4rem 0 0 0;
		}
	}
	.WorkTogether_cta {
		@include for-tablet-landscape-up {
			padding: 0 0 0 1.5rem;
		}
	}
	.WorkTogether_title {
		margin: 0 0 1rem 0;
	}
}