<section class="Section--lgHeight">
	<div class="WorkTogether">
		<img src="/static/apps/promotion/src/assets/cylinder.png" alt="Graduated Cylinder" class="WorkTogether_cylinder">
		<div class="WorkTogether_cta">
			<h6 class="WorkTogether_title"><a href="" class="header-link">Let's Synthesize Something Together</a></h6>
			<p class="WorkTogether_description">If you want to hire me for freelance work, collaborate on a project, or just say hi, feel free to connect with me.</p>
		</div>
	</div>
</section>