<app-chemical-solution class="HeaderChemicalSolution">
	<div class="Header">
		<div class="Header_topRow">
			<div class="ServiceList">
				<h4 class="ServiceList_service">Web Development</h4>
				<h4 class="ServiceList_service">Data Science</h4>
				<h4 class="ServiceList_service">UX/UI Design</h4>
			</div>
			<div class="Header_hireUs">
				<button class="Button Button--brandSecondary">Hire Us</button>
			</div>
		</div>
		<svg class="Header_logo" width="158px" height="143px" viewBox="0 0 158 143" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g transform="translate(-433.000000, -189.000000)" fill="#FFFFFF">
		            <g>
		                <g transform="translate(433.000000, 189.000000)">
		                    <text font-family="Ubuntu-Medium, Ubuntu" font-size="90" font-weight="400">
		                        <tspan x="52.1638095" y="102.813131">Z</tspan>
		                    </text>
		                    <path d="M103.07619,129.434343 L103.07619,139.217172 L39.9656867,139.217172 C39.5467579,139.217172 39.0408665,138.921953 38.837887,138.561582 L0.369261994,70.2641756 C0.165324226,69.9021034 0.166282445,69.3133671 0.369261994,68.9529961 L38.837887,0.655589755 C39.0418247,0.293517531 39.543075,0 39.9656867,0 L117.655432,0 C118.074361,0 118.581859,0.29521876 118.7868,0.655589755 L157.62717,68.9529961 C157.833078,69.3150683 157.832111,69.9038046 157.62717,70.2641756 L128.689974,121.147713 L120.54548,117.00554 L147.499874,69.6085859 L113.477286,9.78282828 L45.6756117,9.78282828 L11.9786567,69.6085859 L45.6756117,129.434343 L103.07619,129.434343 Z" id="Combined-Shape"></path>
		                    <text font-family="Ubuntu-Medium, Ubuntu" font-size="37.5" font-weight="400">
		                        <tspan x="108.050298" y="141.858586">s</tspan>
		                    </text>
		                </g>
		            </g>
		        </g>
		    </g>
		</svg>
		<h1 class="Header_zynicideSynthesis">Zynicide Synthesis</h1>
	</div>
</app-chemical-solution>
<section class="Intro Section--mdHeight Section--white">
	<p class="Intro_info">Zynicide Synthesis is a design agency run by people who love building beautiful websites and solving unique problems. We would love to help you create a fresh look and feel for your business and solve any technical challenges that you face.</p>
	<h6 class="Intro_cta"><a href="" class="header-link">Let's Work Together</a></h6>
</section>
<section class="RecentWork Section--smHeight Section--gray">
	<div class="RecentWork_showcase">
		<h6 class="RecentWork_title muted-text uppercase-text">Recent Work</h6>
		<div class="Showcase">
			<div class="Showcase_item">

			</div>
			<div class="Showcase_item">

			</div>
			<div class="Showcase_item">

			</div>
		</div>
	</div>
</section>
