@import "./../theme.scss";

.Header {
	height: 100vh;
	position: relative;
	display: block;
	.Header_topRow {
		display: flex;
	}
}

.ServiceList {
	color: $white;
	margin: 0 auto 0 0;
	.ServiceList_service {
		color: inherit;
	}
}
