@import "./../theme.scss";

.HeaderChemicalSolution {
	height: 100vh;
	position: relative;
	display: block;
}

.Header {
	display: flex;
	flex-direction: column;
	height: 100%;
	.Header_topRow {
		display: flex;
	    flex-basis: auto;
	    flex-shrink: 1;
	    flex-grow: 0;
	}
	.Header_logo {
	    flex-basis: auto;
	    flex-shrink: 1;
	    flex-grow: 1;
		align-self: center;
		@include for-tablet-landscape-up {
			margin-bottom: 7%;
		}
	}
	.Header_zynicideSynthesis {
		color: $white;
		align-self: flex-start;
	    flex-basis: auto;
	    flex-shrink: 1;
	    flex-grow: 0;
	}
}

.ServiceList {
	color: $white;
	margin: 0 auto 0 0;
	.ServiceList_service {
		color: inherit;
	}
}

.Intro {
	.Intro_info {
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
	}
	.Intro_cta {
		text-align: center;
		margin-top: 2.5rem;
	}
}
