<div class="SocialIcons"
	[ngClass]="{'SocialIcons--large': size == 'large', 'SocialIcons--medium': size == 'medium', 'SocialIcons--small': size == 'small'}"
>
	<a class="SocialIcons_link" href="https://github.com/zackthoutt" target="_blank" rel="noopener noreferrer">
		<i class="SocialIcons_icon fa fa-github" aria-hidden="true"></i>
	</a>
	<a class="SocialIcons_link" href="https://www.linkedin.com/in/zack-thoutt-57275655/" target="_blank" rel="noopener noreferrer">
		<i class="SocialIcons_icon fa fa-linkedin" aria-hidden="true"></i>
	</a>
	<a class="SocialIcons_link" href="https://www.instagram.com/zthoutt/" target="_blank" rel="noopener noreferrer">
		<i class="SocialIcons_icon fa fa-instagram" aria-hidden="true"></i>
	</a>
	<a class="SocialIcons_link" href="mailto:zackarey.thoutt@colorado.edu" target="_blank" rel="noopener noreferrer">
		<i class="SocialIcons_icon fa fa-envelope-o" aria-hidden="true"></i>
	</a>
</div>