@import './../../theme.scss';

.ChemicalSolution {
	background-color: $brand-primary;
	width: 100%;
	height: 100%;
	.ChemicalSolution_content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 500;
		@include for-tablet-landscape-up {
			padding: $padding-1;
			width: calc(100% - 2 * #{$padding-1});
			height: calc(100% - 2 * #{$padding-1});
		}
		padding: $mobile-padding-1;
		width: calc(100% - 2 * #{$mobile-padding-1});
		height: calc(100% - 2 * #{$mobile-padding-1});
	}
	.ChemicalSolution_molecule {
		position: absolute;
		z-index: 100;
	}
}